Librerías requeridas

# Manipulación y análisis de datos 

pandas>=2.0.0 
numpy>=1.23.0 

# Visualización de datos 

matplotlib>=3.7.0 
seaborn>=0.12.0 

# Machine Learning y Modelos 

scikit-learn>=1.2.0 
xgboost>=1.7.0 
joblib>=1.2.0 

# Entorno y utilidades 
ipython>=8.0.0
